// EWW.SCSS 
// GLOBALS

@import "colors.scss";

*{
    all: unset;
    // font-family: "Iosevka Curly";
    font-family: "ShureTechMono Nerd Font"; 
    font-weight: 800;
}

// Bar Style
.bar {
    // background-image: url("images/background.png");
    background-color: $background; // $color0;
    border: 3px solid $color5; // $color14;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 15px;
    min-height: 45px;
    // height: 50px;
    // margin-top: 0px;
}

.bar_lowbat {
    border-color: $color1; // $color14;
}

.bar_hovered {
    // background-image: url("images/background.png");
    // background-color: $color8;
    border-color: $color2;
}
.bar:hover {
    // background-image: url("images/background.png");
    // background-color: $color8;
    border-color: $color2;
}

// LEFT MODULES
// Workspaces
.workspaces {
    padding-left: 5px;
    padding-right: 5px;
    color: $color2;
}

.btn_workspace {
    color: $color2;
}

.btn_workspace:hover {
    color: $color14;
}

// Layout
.layout {
    all: unset;
    font-family: "ShureTechMono Nerd Font"; //"Hack";
    color: $color15;
    font-size: 25;
    //margin: -6 0 -6 10;
}

// CENTER MODULES

scale trough highlight {
    all: unset;
    background: $color3;
    border-radius: 10px;            
    border: solid 2px $color11;
}

scale trough {
    all: unset;
    background-color: rgba($color15, 0.4);
    border-radius: 10px;
    min-width: 110px;
    min-height: 10px;               
}

// RIGHT MODULES 

.datetime {
    color: $color14;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
}

.datetime:hover {
    color: $color2;
}

.date {
    color: $color15;
    font-size: 20px;
    // margin-top: 8px;
}

.calendar {
    font-size: 18px;
    background-color: $background;
    color: $color14;
    border: 3.5px solid $color5;
    border-radius: 20 20 20 20;
    padding: 10px;
}

/** tooltip!! **/
tooltip {
    border: 2px solid $color5;
    // border-radius: 10px;
}
tooltip.background {
    background-color: $background;
}

tooltip label {
    margin: 2px;
    color: #bfc9db;
    font-size: 15;
    padding-left: 5px;
    padding-right: 5px;
}

.pie {
    background-color: $color5;
    //border-radius: 10px;
    font-size: 17.5;
    color: $color2;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 5px;
    margin-right: 5px;
}

.pie label{
    //padding: 5px;
    margin: 8.5px;
    min-width: 30px;
    color: $color14;
}

.btn {
    margin: 0px 2.5px 0px 2.5px;
    font-size: 20;
    min-width: 20px;
    color: $color14;
}

.btn:hover {
    color: $color2;
}

.btn_small {
    margin: 0.5px;
    font-size: 15;
    min-width: 17px;
    color: $color14;
}

.btn_small:hover {
    color: $color2;
}

.separ {
    color: $color5;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 8px 0px 8px;
}
