* {
    border: none;
    border-radius: 0;
    font-family: "Clear Sans", "Font Awesome 5 Free Solid";
    font-size: 13px;
    min-height: 0;
}

/* Cyberpunk-Neon colorscheme */
@define-color dark-blue		#000b1e;
@define-color blue			#091833;
@define-color light-blue	#133e7c;
@define-color light-alt		#0b2956;
@define-color cyan			#0abdc6;
@define-color pink			#ea00d9;
@define-color purple		#711c91;
@define-color purple-alt	#321959;
@define-color red			#ff0000;
@define-color orange		#f57800;
@define-color white			#d7d7d5;
@define-color green			#00ff00;
@define-color yellow		#ffff00;

window#waybar {
    background-color: @blue;
    color: @purple;
    transition-property: background-color;
    transition-duration: .1s;
	font-size: 16px;
	font-family: "Source Code Pro";
}

window#waybar.empty {
    color: rgba(0,0,0,0);
}

.topbar {
    border-bottom: 3px solid @purple;
}

.bottombar {
    border-top: 3px solid @purple;
}

#workspaces button {
    padding: 0 0px;
    color: @purple;
    background-color: @blue;
}

.topbar #workspaces button {
    border-bottom: 3px solid @purple;
}

.bottombar #workspaces button {
    border-top: 3px solid @purple;
}

/*
button:hover
*/
#workspaces button:hover, #custom-filemanager button:hover {
    background: @purple;
	color: @pink;
}

.topbar #workspaces button:hover {
    border-bottom: 3px solid @pink;
}

.bottombar #workspaces button:hover {
    border-top: 3px solid @pink;
}

/*
button active
*/
#workspaces button.active {
    background-color: @light-alt;
	color: @cyan;
}

.topbar #workspaces button.active {
    border-bottom: 3px solid @cyan;
}

.bottombar #workspaces button.active {
    border-top: 3px solid @cyan;
}

/*
button urgent
*/
#workspaces button.urgent, #temperature.critical {
    background-color: @red;
}

.topbar #workspaces button.urgent, .topbar #temperature.critical {
    border-bottom: 3px solid @orange;
}

.bottombar #workspaces button.urgent, .bottombar #temperature.critical {
    border-top: 3px solid @orange;
}

#mode {
    background-color: #64727D;
    border-top: 3px solid #ffffff;
}

#backlight,
#battery.bat1,
#battery.bat2,
#clock,
#cpu,
#custom-mail,
#custom-poweroff,
#custom-weather,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network.vpn,
#network.wifi,
#network.ethernet,
#network.disconnected,
#pulseaudio,
#taskbar,
#temperature,
#custom-filemanager,
#custom-terminal,
#tray {
    padding: 0 6px;
    margin: 0 0px;
    color: @purple;
}

@keyframes blink {
    to {
		/*
        background-color: #ffffff;
        color: #000000;
		*/
    }
}

#battery.bat2.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#taskbar button {
	color: @purple;
}

#taskbar button:hover {
    background: rgba(0, 0, 0, 0.2);
    /* box-shadow: inset 0 3px #ffffff; */
}

#taskbar button.active {
    background-color: @light-blue;
	color: @cyan;
}

.topbar #taskbar button.active {
    border-bottom: 3px solid @cyan;
}

.bottombar #taskbar button.active {
    border-top: 3px solid @cyan;
}
